<ion-header>
  <ion-toolbar>
    <ion-title>Home Professore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-label>{{this.dd | date: 'fullDate'}}</ion-label>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let calendar of calendars">
          <ion-card>
            <ion-card-content>
              <ion-card-title>{{calendar.module.title}}</ion-card-title>
              <ion-card-subtitle>{{ calendar.calendarDate.type }}</ion-card-subtitle>
              Aula: {{calendar.room.name}}
              <br>Dalle: {{calendar.calendarDate.startTime}} Alle: {{calendar.calendarDate.endTime}}
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col align="left">
      <ion-button expand="block" color="primary" (click)="prev()">
        <ion-icon src="assets/icon/src/chevron-left.svg"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col align="right">
      <ion-button expand="block" color="primary" (click)="next()">
        <ion-icon src="assets/icon/src/chevron-right.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>