<ion-header>
  <ion-toolbar>
    <ion-title>teaching-files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      <ion-label>Files</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let file of files">
      <ion-card>
        <ion-item>
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>{{file.fileName}}</ion-label>
          <ion-button fill="outline" slot="end">Download</ion-button>
        </ion-item>
        <ion-card-content>
          Title: {{file.fileName}}
          <br> Created: {{file.created | date: 'dd MMM yyyy H:mm'}}
          <br> Size: {{this.humanFileSize(file.size,1)}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>