<!-- <div *ngIf="this.lectureRating"> -->
  <div *ngIf="!this.rated">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Inserisci il tuo gradimento</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Lascia un commento" [(ngModel)]="note"></ion-input>
        </ion-item>
        <ion-item>
          <ion-range min="0" max="5" step="1" snaps="true" color="medium" [(ngModel)]="rate"></ion-range>
          <ion-icon name="checkmark" *ngIf="note" (click)="onSubmit()"></ion-icon>
        </ion-item>
        Gradimento: {{rate}}/5
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="this.rated">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Gradimento: {{this.lectureRating.rate}}/5</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Nota: {{this.lectureRating.note}}</ion-card-content>
    </ion-card>
  </div>
<!-- </div> -->