<ion-header >
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input inputmode="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input inputmode=type [(ngModel)]="password" >

        <ion-button *ngIf="!showPass" color="dark" fill="left" style="margin-bottom: 2%; margin-top: auto;"
                    (click)="showPassword()">
          <ion-icon name="eye-off"></ion-icon>
        </ion-button>
        <!--suppress HtmlUnknownAttribute -->
        <ion-button *ngIf="showPass"  color="dark" style="margin-bottom: 2%; margin-top: auto;"
                item-right (click)="showPassword()">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
  </ion-list>

  <!--suppress HtmlUnknownAttribute -->
  <ion-button expand="block" color="var(--unisalento)" type="submit"(click)="submit()">Sing In</ion-button>
</ion-content>
